<div *ngIf="!loading" class="preview-fundraising row row-fundraising">
  <div class="col-lg-12 component-title">
    <div><h5 class="dash-h5">Recent Transactions</h5></div>
    <div><h5 class="dash-h5"><span class="total">NET TRANSFERRED <span>${{netTransferTotal}}</span></span></h5></div>
  </div>
  <div class="col-lg-12 table-wrapper">
    <table class="table-default contributions-table">
      <thead>
        <tr>
          <th class="th-level">Description</th>
          <th>Bank Name</th>
          <th>Bank Account</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Fee</th>
          <th>Net Amount</th>
        </tr>
      </thead>
      <tbody *ngIf="transfers.length > 0">
        <tr *ngFor="let transfer of transfers">
          <td>{{transfer.description}}</td>
          <td>{{transfer.bankAccountInfo.bankName}}</td>
          <td>••••{{transfer.bankAccountInfo.last4}}</td>
          <td>{{transfer.transferType === 'deposit' ? 'Deposit' : 'Withdrawal'}}</td>
          <td>${{transfer.chargeAmount | amount}}</td>
          <td>${{transfer.chargeFee | amount}}</td>
          <td>${{transfer.amount | amount}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="transfers.length == 0">
        <tr>
          <!-- <td colspan="4" style="text-align: center">No Results</td> -->
          <td class="example">Empty</td>
          <td class="example">Bank name</td>
          <td class="example">123456</td>
          <td class="example">Deposit</td>
          <td class="example">$1005</td>
          <td class="example">$5</td>
          <td class="example">$1000</td>
        </tr>
      </tbody>
    </table>
    <div class="row-btns">
      <div class="bank-status-tag" matTooltip="Status of the link between your bank account and aPrintis"><span [class.bg-unlinked]="bankAccountStatus === 'Unlinked'" [class.bg-unverified]="bankAccountStatus === 'Unverified'"
        [class.bg-verified]="bankAccountStatus === 'Verified'">{{bankAccountStatus}}</span></div>
      <div>
        <button disableRipple (click)="doShowCustomerAccount()" class="button-turq-default" mat-button>{{depositButtonTitle}}</button>
        <button *ngIf="showUnlinkBankAccount" disableRipple (click)="confirmRemoveCustomerAccount($event)" class="btn-view-report button-dark-default" mat-button>Remove Deposit Bank Account</button>
      </div>
    </div>
  </div>
  <!-- <div class="col-lg-12">
    <div class="total-section">
      <span *ngIf="lastChecked" class="last-checked">Checked <span>{{lastChecked | timeAgo}}</span> </span>
      <span class="total">TOTAL FUNDS AVAILABLE <span>${{totalAvailable}}</span></span>
    </div>
  </div> -->
</div>
<app-customer-account [publication]="publication" [showPopup]="showCustomerAccount" (popupEvent)="onShowCustomerAccountPopupEvent($event)"></app-customer-account>

<ng-template #dialogConfirmRemoveCustomerAccount>
  <mat-dialog-content>
    <p>Are you sure you want to remove your bank account from aPrintis?</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button disableRipple [mat-dialog-close]="true" (click)="removeAccount()" class="button-turq-default" mat-button>Yes</button>
    <button disableRipple [mat-dialog-close]="false" class="button-turq-default" mat-button matDialogClose>No</button>
  </mat-dialog-actions>
</ng-template>
