<div class="main-wrapper">
  <app-landing-header></app-landing-header>
  <app-intercom></app-intercom>
  <main role="main" class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="first-section">
          <div class="g-content">
            <div class="g1">
              <h1>About us <b>Who we are</b></h1>
            </div>
            <div class="g2">We are all about School and Small Community Journalism. Our foremost goal is to enable you
              to connect effectively with your community by producing compelling publications. On the one hand, being
              high quality print enthusiasts, we are dedicated to giving your work of art, a curator’s care. On the
              other, we give your project a small business owner’s attention by helping make the economics favorable and
              the publishing process simpler.</div>
            <div><img src="{{assetsUrl}}/images/2023/bookCapture.png" alt=""></div>
            <div class="g4">Our team consists of dedicated professionals with decades of experience in print, graphics
              design and media. Our print production and fulfillment is supported by a Fortune 500 partner providing the
              stamp of reliability in quality and fulfillment that you can trust.</div>
          </div>
        </div>
        <div class="sect-2">
          <div class="g-content-2">
            <div class="pp-sect">
              <img src="{{assetsUrl}}/images/2023/VivekPP.png" alt="">
              <h1> <b>Vivek Garg </b> </h1>
              <h2>Founder & CEO </h2>
            </div>
            <div class="profile-desc">
              Vivek founded aPrintis to empower journalism and engagement within schools and other small communities. He
              has been inspired by seeing first hand how students at budget-strapped schools with access to minimal
              design resources are still able to mobilize to create pro-quality publications that are winners in their
              communities.
              <br>
              <br>
              He believes that the printed magazine format gives schools and communities a voice and entity that
              powerfully supplements their online presence and makes them stand out. He is particularly passionate about
              increasing awareness of the multidimensional skills of research and journalism, design and creativity,
              entrepreneurship and leadership, and basic long form reading and writing skills that the experience of
              creating a magazine inculcates in students at schools ranging from elementary to high schools to colleges.
              <br>
              <br>
              Some of Vivek’s other passions are data science and technology - he has held senior positions in
              technology and business at Apple, Bain & Company and AdMaxim.
              <br>
              <br>
              Vivek holds a PhD in Mechanical Engineering from University of California at Berkeley, MBA from University
              of Chicago and B.Tech from Indian Institute of Technology, Kharagpur
            </div>
          </div>
        </div>
        <div class="sect-3">
          <div class="g-content-3">
            <div class="profile-desc">
              Esther Wojcicki is an internationally known journalism teacher and the founder of the Palo Alto High
              School Media Arts Program, a program that focuses on empowering students through the use of media.
              <br>
              <br>
              The program started in 1984 with 19 students and has grown to become the largest scholastic media program
              in the nation today (2020) with 600+ students, six journalism teachers, ten publications, and a new 25,000
              sq. ft Media Arts Center.
              <br>
              <br>
              She is also the founder of Moonshots in Education movement (www.moonshots.com) and she is one of the
              founders of Google Education.
              <br>
              <br>
              She is the mother of Susan Wojcicki, CEO of YouTube, Anne Wojcicki, CEO of 23andMe, and Janet Wojcicki,
              Professor of Pediatrics at UCSF Medical School. She has been awarded three honorary doctorates as well as
              numerous other awards.
            </div>
            <div class="pp-sect">
              <img src="{{assetsUrl}}/images/2023/EstherPP.png" alt="">
              <h1> <b>Esther Wojcicki </b> </h1>
              <h2>Adviser</h2>
            </div>
          </div>
        </div>
        <div class="sect-4">
          <h1>We are reinventing community publishing</h1>
          <p>
            Discover how in the aPrintis blog
          </p>
          <button class="go-button"><a href="https://blog.aprintis.com/" target="_blank">Go There Now</a></button>
        </div>
        <div class="sect-5">

        </div>
        <!-- <div class="first-section">
          <div class="left-image">
            <img src="{{ topImage }}" alt="Top image" />
          </div>
          <div class="right-text" [ngStyle]="{
              'background-image':
                windowWidth <= 1200 ? 'url(' + topImage + ')' : ''
            }">
            <div class="section-text">
              <p>
                At aPrintis, we’re passionate about School and Small Community
                Journalism.
              </p>
              <p>
                Our platform makes it fun, easy and affordable to create
                stunning print publications that engage your readership and
                showcase the talent and creativity of your community.
              </p>
            </div>
          </div>
        </div>
        <div class="second-section">
          <div class="box box-1">Education</div>
          <div class="box box-2">Nonprofits</div>
          <div class="box box-3">Community</div>
        </div>
        <div class="about-section">
          <h2>About aPrintis</h2>
          <p>
            The aPrintis team consists of dedicated professionals with decades
            of experience in print, graphic design and media. We are
            high-quality print enthusiasts, dedicated to giving your work of art
            a curator’s care, while at the same time making the economics
            favorable and the publishing process simpler. Our primary goal is to
            enable you to connect with your community in meaningful ways with
            compelling publications that are created and funded by and for them.
          </p>
          <p>
            Founded in 2012 and based in Silicon Valley, aPrintis is enabling
            hundreds of schools and universities, nonprofit organizations, city
            chambers of commerce and churches across the country to create
            high-quality, glossy print publications quickly and
            cost-effectively. Our print production and fulfillment are supported
            by a U.S.-based printer with 100+ years of excellence, ensuring
            exceptional quality and consistent reliability. For more
            information, contact us today.
          </p>
        </div>
        <div class="about-member">
          <div class="about-member-container">
            <div class="about-member-image">
              <img src="{{ assetsUrl }}/vivek.jpg" loading="lazy" />
            </div>
            <div class="about-member-name">Vivek Garg</div>
            <div class="about-member-position">Founder and CEO</div>
          </div>
          <div class="about-member-content">
            <p>
              Vivek founded aPrintis to empower journalism and engagement within
              schools and other small communities. He has been inspired by
              seeing first hand how students at budget-strapped schools with
              access to minimal design resources are still able to mobilize to
              create pro-quality publications that are winners in their
              communities.
            </p>
            <p>
              He believes that the printed magazine format gives schools and
              communities a voice and entity that powerfully supplements their
              online presence and makes them stand out. He is particularly
              passionate about increasing awareness of the multidimensional
              skills of research and journalism, design and creativity,
              entrepreneurship and leadership, and basic long form reading and
              writing skills that the experience of creating a magazine
              inculcates in students at schools ranging from elementary to high
              schools to colleges.
            </p>
            <p>
              Some of Vivek’s other passions are data science and technology. He
              has held senior positions in technology and business at Apple,
              Bain & Company and AdMaxim. Vivek holds a PhD in Mechanical
              Engineering from University of California at Berkeley and an MBA
              from University of Chicago.
            </p>
          </div>
        </div>
        <div class="about-member">
          <div class="about-member-container">
            <div class="about-member-image">
              <img src="{{ assetsUrl }}/esther.png" loading="lazy" />
            </div>
            <div class="about-member-name">Esther Wojcicki</div>
            <div class="about-member-position">Adviser</div>
          </div>
          <div class="about-member-content">
            <p>
              Esther Wojcicki is an internationally known journalism teacher and
              the founder of the Palo Alto High School Media Arts Program, a
              program that focuses on empowering students through the use of
              media.
            </p>
            <p>
              The program started in 1984 with 19 students and has grown to
              become the largest scholastic media program in the nation today
              (2020) with 600+ students, six journalism teachers, ten
              publications, and a new 25,000 sq. ft Media Arts Center.
            </p>
            <p>
              She is also the founder of Moonshots in Education movement
              (www.moonshots.com) and she is one of the founders of Google
              Education.
            </p>
            <p>
              She is the mother of Susan Wojcicki, CEO of YouTube, Anne
              Wojcicki, CEO of 23andMe, and Janet Wojcicki, Professor of
              Pediatrics at UCSF Medical School. She has been awarded three
              honorary doctorates as well as numerous other awards.
            </p>
          </div>
        </div> -->
      </div>
    </div>
  </main>
  <app-page-footer></app-page-footer>
</div>
