<mat-toolbar [ngClass]="{'publication-header': true,'narrow': context === 'issues'}">
  <div class="left-section">
    <mat-nav-list>
      <a mat-list-item [routerLink]="backLink">
        <mat-icon>arrow_back</mat-icon>
      </a>
    </mat-nav-list>
    <div class="label">publication</div>
    <div class="pub-name">{{publicationName}}</div>
  </div>
  <div [ngClass]="{'right-section': true, 'right-section--modified': !canSeeFunds}">
    <div class="contributor-button-panel" *ngIf="!canEditPublication && !canAddMembers && !canSeeFunds">
      <a mat-button target="_blank" routerLink="/publication/{{_publication.id}}" [queryParams]="{open: 'subs'}">
        <mat-icon>contact_mail</mat-icon>
        Subscribe
      </a>
      <a mat-button target="_blank" routerLink="/publication/{{_publication.id}}" [queryParams]="{open: 'sponsor'}">
        <mat-icon>grade</mat-icon>
        Sponsor
      </a>
    </div>
    <div class="button-panel">
      <button mat-icon-button (click)="editPublication()" *ngIf="canEditPublication" matTooltip="Edit publication">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="addMember()" *ngIf="canAddMembers" matTooltip="Add members">
        <mat-icon>person_add</mat-icon>
      </button>
      <button mat-icon-button (click)="sharePublicationLink()" matTooltip="Share link">
        <mat-icon>share</mat-icon>
      </button>
    </div>
    <div class="total-funds" *ngIf="canSeeFunds" matTooltip="See Funds Summary"
         mat-button [matMenuTriggerFor]="fundsSummary">
      <div class="label">Total Funds Available</div>
      <div [ngClass]="{'total': true, 'no-funds': totalAvailable === 0}">
        {{totalAvailable | currency:'USD':'symbol':'1.0-2'}}
      </div>
      <mat-menu #fundsSummary="matMenu" xPosition="before" class="funds-summary-popup">
        <app-funds-summary [totalAvailable]="totalAvailable"
                           [availableFunds]="_publication.availableFunds">
        </app-funds-summary>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
