@import "~scss/mixins/_typography";

.role-select {
  margin-left: 0.937rem;
  margin-top: 3.1rem;
  min-width: 100% !important;

  .mat-option .mat-option-text {
    @include typography-lvl(1.062rem !important, 2.06 !important, normal, 'Averta', 0.29px);
    color: #333333 !important;
  }
}

.mat-select.role-form-field {
  .mat-select-value-text {
    padding-left: 1.25rem;
    @include typography-lvl(1.062rem !important, 2.06 !important, normal, 'Averta', 0.29px);
    color: #333333 !important;
  }
}
