<div class="publications-sidebar-buttons">
  <div class="main">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="selected-button">
        <mat-icon>list</mat-icon>
        Publications
      </a>
    </mat-nav-list>
  </div>
  <!-- <div class="tools">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="selected-button">
        <mat-icon>settings</mat-icon>
        Settings
      </a>
      <a mat-list-item routerLinkActive="selected-button">
        <mat-icon>help</mat-icon>
        Help
      </a>
    </mat-nav-list>
  </div> -->
</div>
