<div class="cover-container">
  <app-page-header appStickybits></app-page-header>
  <main role="main" class="main-fixed main-reset-password">
    <div class="form form-center {{formStatusClass}}">
      <form [formGroup]="form" (ngSubmit)="saveForm()">
        <h3>Reset Your Password</h3>
        <p>Please enter your new password. After you save your new password, you will be asked to sign in again.</p>
        <div class="form-row">
          <input formControlName="password" type="password" class="input-default input-s1" placeholder="New Password">
          <div *ngIf="formUtil.checkError(form.get('password'), 'required')" class="form-error form-error-default">New Password is required.</div>
          <div *ngIf="formUtil.checkError(form.get('password'), 'minlength')" class="form-error form-error-default">New Password must be at least 8 characters long</div>
        </div>
        <div class="form-row">
          <input formControlName="confirmPassword" type="password" class="input-default input-s1" placeholder="Confirm New Password">
          <div *ngIf="formUtil.checkError(form.get('confirmPassword'), 'required')" class="form-error form-error-default">Confirm Password is required.</div>
          <div *ngIf="!form.get('password').invalid && formUtil.checkError(form, 'doesMatchPassword')"
            class="form-error form-error-default">Password does not match</div>
          <div *ngIf="errorApi" class="form-error form-error-top form-error-default">{{errorApi}}</div>
        </div>
        <div class="row-btn">
          <button type="submit" class="button-turq-default no-focus btn-save" mat-button>Submit</button>
        </div>
      </form>
    </div>
  </main>
  <app-page-footer footerclass="fixed-footer"></app-page-footer>
</div>