.main-reset-password {
  .form-row {
    position: relative;
    .input-default {
      //margin-bottom: 2rem;
    }
    .form-error.form-error-default {
      position: relative;
      margin: 0 0 0.845rem 0;
      top: -5px;
    }
  }
}