@import "~scss/mixins/_typography";
@import "~scss/_variables";
@import "~scss/mixins/_responsive";
@import "~scss/mixins/_utils";

.dash-sidebar {
  .sidebar-user {
    background: $dashboard-dark-bg;
    text-align: center;
    color: $dashboard-dark-bg-color-font;
    // height: 332.172px;
    // overflow: hidden;
    margin-bottom: 2.375rem;
    .logo {
      text-align: center;
      padding: 1.813rem 0 2.375rem 0;
      width: 118px;
      margin: 0 auto;
      a > img { 
        width: 100%;
        max-height: 24px;
        // min-width: 145px;
      }
    }
    .user {
      .profile-img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
      .username,
      .link-logout {
        padding: 0.875rem 0;
        width: 100%;
        display: inline-block;
        cursor: pointer;
        @include typography-lvl(0.8125rem, normal, 400, 'Montserrat', 0.3px);
      }
      .link-logout {
        display: inline;
        position: relative;
        padding-top: 0.875rem;
      }
      .btn-profile {
        background-color: dimgrey;
        padding: 0.5rem 0.6875rem;
        // margin: 2.375rem 0 2.375rem;
        @include typography-lvl(0.6875rem, normal, 300, 'Montserrat', normal);
        color: $dashboard-dark-bg-color-font;
        .btn-text {
          
        }
      }
    }
  }
  .sidebar-menu {
    overflow-x: hidden;
    overflow-y: auto;
    background: url(https://d1atm7a2stxxbt.cloudfront.net/fd.png) repeat $dashboard-dark-bg;
  }
  .sidebar-extra {
    display: none;
  }
  .btn-pub {
    width: 100%;
    padding: 0.625rem 1.125rem 0.75rem 0.6875rem;
    margin-top: 2.375rem;
    color: $dashboard-dark-bg-color-font;
    background: #202020;
    // background: $primary-color;
    @include typography-lvl(0.875rem, normal, 400, 'Montserrat', 0.5px);
    border-radius: 0;
    .btn-icon {
      width: 1.813rem;
      height: 1.813rem;
      display: inline-block;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .btn-text {
      margin-left: 0.8125rem;
    }
    &.btn-pub--issue{
      margin-top: unset;
      background: #333333;
      // background: $primary-color;
    }
  }
  @include max-width(900px) {
    background: #202020;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-position: left bottom;
    // .sidebar-user {
    //   @include flexbox();
    //   height: auto !important;
    //   .logo {
    //     flex: 0 0 40%;
    //     max-width: 40%;
    //     text-align: left;
    //     padding: 1.5rem 1.5rem 1rem;
    //     a > img { width: 100%; }
    //   }
    //   .btns {
    //     display: none;
    //   }
    // }
    // .sidebar-menu {
    //   height: auto;
    // }
    // .sidebar-extra {
    //   text-align: center;
    //   padding-right: 1.5rem;
    //   display: block;
    //   .btn-pub {
    //     margin: 1rem auto;
    //   }
    // }
  }
}

.menu-item {
  width: 100%;
  .submenu {
    margin: 0px;
    @include typography-lvl(0.75rem, normal, 400, 'Montserrat', normal);
    ul, li {
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none;
      background: $dashboard-menu-color-l2;
      padding: 1.25rem 0 1.188rem;
      width: 100%;
      a {
        text-decoration: none;
        display: inline-block;
      }
    }
    .submenu-tit {
      @include typography-lvl(0.8rem, 1rem, 600, 'Montserrat', 1px);
      text-transform: uppercase;
      color: $dashboard-menu-color-font;
      padding: 0 0.8125rem 0 3.125rem;
      background: $dashboard-menu-color-l1;
      position: relative;
      @include flexbox();
      align-items:center;
      cursor: pointer;
      transition: background-color 0.2s;
      height: 42px;
      &:hover {
        background: lighten($dashboard-menu-open, 5%) !important;
      }
      @include flexbox();
      justify-content: space-between;
      .lbl-pending{
        color: orange;
        float: right;
      }
      .subscribe-but{
        margin-right: 2.2rem;
        margin-left: 1rem;
        padding: 0.4rem;
      }
      .subscribe-but:hover{
        background: orange !important;
      }
      .lbl{
        max-width: 220px;
        @include max-width(900px) {
          max-width: unset;
        }
      }
    }
    .icon-r {
      display: inline-block;
      position: absolute;
      right:  1.375rem;
      &.icon-edit {
        width: 14px;
        height: 15px;
        &.draftSubmittedForReview,
        &.draftInReview,
        &.draftSubmittedForPrintSchedule,
        &.issueShipped,
        &.issueDelivered {
          display: none !important;
        }
      }
    }
    .icon-l {
      display: inline-block;
      position: absolute;
      left: 1.5rem;
      &.icon-arrow {
        width: 9px;
        height: 6px;
        background: url(https://d1atm7a2stxxbt.cloudfront.net/icons/arrow-down.png) no-repeat;
      }
    }
    &.submenu-pub {
      ul {
        display: none;
      }
    }
    &.submenu-issues {
      ul {
        display: none;
        li{
          padding: 1rem 0 0;
          height: 42px;
          position: relative;
          .link-sub-menu {
            cursor: pointer;
            color: #FFF;
            @include typography-lvl(0.6875rem, normal, 300, 'Montserrat', 0.5px);
            position: relative;
            @include flexbox();
            align-items:center;
            padding-left: 4.25rem;
            .number {
              font-weight: 600;
              display: inline-block;
              width: 40px;
            }
            .plus{
              font-size: 0.8rem;
              display: inline-block;
              width: 40px;
            }
            &.new-issue{
              font-weight: 600;
              letter-spacing: 0.8px;
              span{
                margin-left: 1.5rem;
              }
              ::ng-deep mat-icon{
                height: 16px;
                width: 16px;
                font-size: 16px;
              }
            }
          }
          // &:after {
          //   content: "";
          //   position: absolute;
          //   height: 100%;
          //   width: 3px;
          //   background: $primary-color;
          //   opacity: 0;
          //   top: 0;
          //   left: 0;
          //   @include transition(opacity 0.2s ease-in-out);
          // }
          &.active {
            // &:after {
            //   opacity: 1 !important;
            // }
            background: $primary-color;
          }
          .icon-edit {
            opacity: 0;
            @include transition(opacity 0.2s linear);
          }
          &:hover {
            .icon-edit {
              opacity: 1;
            }
            &:after {
              opacity: 0.5;
            }

          }
          &.li-create {
            text-align: right;
            padding: 0.8rem 1.375rem 0 0;
            a {
              color: $primary-color;
              text-decoration: underline;
              display: inline-block;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  &.menu-open {
    .submenu-pub {
      ul {
        display: block;
      }
      .submenu-tit {
        .icon-arrow {
          background: url(https://d1atm7a2stxxbt.cloudfront.net/icons/arrow-up.png) no-repeat;
        }
      }
    }
    .submenu-issues {
      ul {
        display: block;
      }
    }
  }
}
// ::ng-deep .mat-expansion-panel{
//   background: #202020 !important;
//   @include typography-lvl(0.8rem, normal, 600, 'Montserrat', 0.2px);
// }

// ::ng-deep mat-expansion-panel{
//   @include typography-lvl(0.8rem, normal, 600, 'Montserrat', 0.2px);
//   background: #202020 !important;
//   color: #FFF;
//   &:not([class*='mat-elevation-z']) {
//     box-shadow: none;
//   }
// }
mat-accordion {
  width: 100%;
  .mat-expansion-panel-header{
    background: #202020 !important;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      a > img { 
        max-height: 24px;
      }
    }
  }
  ::ng-deep mat-expansion-panel{
    background: #202020 !important;
    &:not([class*='mat-elevation-z']) {
      box-shadow: none;
    }
    .expansion-panel-description{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: #FFF;
      margin-right: 0;
      .mat-icon{
        height: 32px;
        width: 32px;
        font-size: 32px;
      }
    }
  }
  ::ng-deep .mat-expansion-panel-body{
    padding: 0 1rem 1rem;
    .sidebar-user {
      @include flexbox();
      height: auto !important;
      flex-direction: column;
      // flex-direction: row;
      // background: #333333 !important;
      margin: 1rem !important;
      // .user{
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   width: 50%;
      //   justify-self: center;
      //   align-self: center;
      //   flex: 1;
      // }
      // .btns{
      //   flex: 1;
      //   button{
      //     width: auto;
      //   }
      // }
      .user{
        display: flex;
        flex-direction: column;
        .profile{
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 0.3125rem;
          background: #333333;
          margin-bottom: 1rem;
        }
        span.username{
          padding: 0.875rem 0 0 !important;
        }
        .username.link-logout{
          flex: 1;
          // width: 170px !important;
          background: #333333;
          display: inline-flex !important;
          justify-content: space-evenly !important;
          align-items: center !important;
          align-self: center;
          // padding: 1rem !important;
          padding: 0.625rem 1.125rem 0 0.6875rem !important;
          border-radius: 0.3125rem;
          letter-spacing: 1px !important;
          span{
            margin-left: 0.8125rem;
          }
        }
      }
      .btns{
        button{
          margin: 1rem 0 !important;
          background: #333333;
          border-radius: 0.3125rem;
        }
      }
      .logo {
        flex: 0 0 40%;
        max-width: 40%;
        text-align: left;
        padding: 1.5rem 1.5rem 1rem;
        a > img { width: 100%; }
      }
    }
    .sidebar-menu {
      height: auto !important;
      // margin: 1rem;
    }
    .btn-pub {
      margin: 1rem auto !important;
    }
  }
}