@import "~scss/_variables";
@import "~scss/mixins/_utils";

input[type="file"] {
  opacity: 0;
  display: none;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0.625rem 1.5rem;
  margin-bottom: 0 !important;
  background: #FFF !important;
  color: #333333 !important;
  border-radius: 2px !important;
  border: none !important;

  .material-icons {
    font-size: 24px;
    height: 24px;
    width: 24px;
    margin-right: 5px;

    &:not(.no-rotate) {
      @include transform(rotateZ(-35deg));
    }
  }

  .progress-spinner {
    height: 24px;
    width: 24px;
    margin-right: 5px;

    ::ng-deep circle {
      stroke: #333333;
    }
  }
}

.click-cursor {
  cursor: pointer;
  padding: 0.45rem 1rem;
  border-radius: 2px !important;
  font-weight: 600;
  font-family: Averta;
  font-size: 0.9375rem;


  &:hover {
    opacity: 0.8;
    transition: opacity .2s cubic-bezier(.35, 0, .25, 1), background-color .2s cubic-bezier(.35, 0, .25, 1);
  }
}
