<div class="cover-container">
  <app-page-header  appStickybits></app-page-header>
  <main role="main" class="main-fixed main-forgot">
    <div class="form form-center {{formStatusClass}}">
      <form [formGroup]="form" (ngSubmit)="saveForm()">
        <h3>Reset Your Password</h3>
        <p [hidden]="sent">Please enter your email address and we'll send you a link to reset your password.</p>
        <p [hidden]="!sent">An email has been sent to <strong>{{form.get('email').value}}</strong> with a link to reset your password.</p>
        <div [hidden]="sent" class="form-row">
          <input formControlName="email" type="email" class="input-default input-s1" placeholder="Email">
          <div *ngIf="formUtil.checkError(form.get('email'), 'required')" class="form-error form-error-default">Email is required.</div>
          <div *ngIf="formUtil.checkError(form.get('email'), 'email')" class="form-error form-error-default">Please enter a valid email address.</div>
          <div *ngIf="errorApi" class="form-error form-error-top form-error-default">{{errorApi}}</div>
        </div>
        <div [hidden]="sent" class="row-btn">
          <button type="submit" class="button-turq-default no-focus btn-save" mat-button>Submit</button>
        </div>
      </form>
    </div>
  </main>
  <app-page-footer footerclass="fixed-footer"></app-page-footer>
</div>