.main-forgot {
  
    .form-center {
      min-height: 350px;
    }

    .form-row {
      position: relative;
      .form-error-default {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -35px;
      }
      input {
        margin-bottom: 0;
      }
    }
  
}