@import "~scss/mixins/_responsive";

:host {
  .mat-form-field {
    display: block;
  }

  button.save {
    background-color: #0cc8cb;
    color: #ffffff;

    &[disabled][disabled] {
      opacity: 0.26;
      border: 0;
    }
  }
}

.form-btn {
  margin: 0 !important;
  margin-top: 3rem !important;
}

.form-error-top {
  top: 10px !important;

  ul {
    padding-inline-start: 1rem;
  }
}
