<footer class="common-footer">
  <div class="footer-content">
    <div class="footer-row">
      <a href="/home"><img class="navbar-brand footer-brand" src="{{assetsUrl}}/logov2.svg" alt="aPrintis"
          loading="lazy" /></a>
      <div>
        <b>Resources</b>
        <ul class="inner-links">
          <li>
            <a href="#">Features</a>
          </li>
          <li>
            <a href="/how-to">How-to Videos</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
      <div>
        <b>Quick Links</b>
        <ul class="inner-links">
          <li>
            <a href="/quote">Get a Quote</a>
          </li>
          <li>
            <a href="/request-sample">Request a Sample</a>
          </li>
          <li>
            <a href="/faq">FAQ</a>
          </li>
          <li>
            <a href="https://blog.aprintis.com/">Blog</a>
          </li>
        </ul>
      </div>
      <div>
        <b>Connect</b>
        <ul class="inner-links">
          <li>
            <a href="#">1-800-510-6596</a>
          </li>
          <li>
            <a href="#">support@snetconnect.com</a>
          </li>
          <li>
            <div class="social">
              <a href="https://www.facebook.com/aPrintis/">
                <div class="fb-icon icons"><img src="{{assetsUrl}}/images/2023/fb-png.png" alt="Facebook"
                    loading="lazy">
                </div>
              </a>
              <a href="https://www.linkedin.com/company/aprintis">
                <div class="li-icon icons"><img src="{{assetsUrl}}/images/2023/lin-png.png" alt="LinkedIn"
                    loading="lazy"></div>
              </a>
              <a href="#">
                <div class="tw-icon icons"><img src="{{assetsUrl}}/images/2023/tw-png.png" alt="Twitter"></div>
              </a>
              <a href="#">
                <div class="instagram-icon icons"><img src="{{assetsUrl}}/images/2023/ins-svg.svg" alt="Instagram">
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-row row2">
      <div class="PTS">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Sitemap</a>
      </div>

      <div>© aPrintis 2023 | All Rights Reserved</div>
    </div>
  </div>
</footer>
