<div class="dash-main-content dash-fundraising-invites">
  <div class="col-lg-12">
    <h3 class="dash-title w-sub">
      Manage Funds
    </h3>
  </div>
  <div class="dash-content-default">
    <div class="col-lg-12">
      <!-- <app-transfers-preview-table [publication]="publication"></app-transfers-preview-table> -->
    </div>
  </div>
  <!-- <div class="go-back-but">
    <button (click)="goBack()" class="button-turq-default no-focus" mat-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div> -->
</div>
