<div class="issue-sidebar-buttons">
  <div class="main">
    <mat-nav-list>
      <a mat-list-item *ngIf="canEditIssue" routerLink="/dashboard/publication/{{publicationId}}/issues/{{issueId}}"
         routerLinkActive="selected-button" [routerLinkActiveOptions]="{exact:true}">
        <mat-icon>insert_photo</mat-icon>
        details
      </a>
      <a mat-list-item
         *ngIf="canListContributions"
         routerLink="/dashboard/publication/{{publicationId}}/issues/{{issueId}}/submissions"
         routerLinkActive="selected-button" [routerLinkActiveOptions]="{exact:false}">
        <mat-icon>filter_none</mat-icon>
        submissions
      </a>
      <a mat-list-item *ngIf="canListAds"
         routerLink="/dashboard/publication/{{publicationId}}/issues/{{issueId}}/ads"
         routerLinkActive="selected-button" [routerLinkActiveOptions]="{exact:false}">
        <mat-icon>loyalty</mat-icon>
        ads
      </a>
      <a mat-list-item *ngIf="canEditIssue"
         routerLink="/dashboard/publication/{{publicationId}}/issues/{{issueId}}/print-specs"
         routerLinkActive="selected-button" [routerLinkActiveOptions]="{exact:true}">
        <mat-icon>print</mat-icon>
        print specs
      </a>
    </mat-nav-list>
  </div>
  <!-- <div class="tools">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="selected-button">
        <mat-icon>settings</mat-icon>
        Settings
      </a>
      <a mat-list-item routerLinkActive="selected-button">
        <mat-icon>help</mat-icon>
        Help
      </a>
    </mat-nav-list>
  </div> -->
</div>
