<div class="main-wrapper">
  <app-landing-header></app-landing-header>
  <app-intercom></app-intercom>
  <main role="main" class="main-design container">
    <div class="row">
      <div class="col-lg-12 col-md-12 title-section">
        <div class="section-title">
          <h1>Testimonials</h1>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 design-section">
        <div class="section-title">
          <h1>Letter from Papillion-La Vista South High Adviser to Nebraska JEA Teachers</h1>
        </div>
        <div class="section-content">
          <div class="section-text">
            <div class="row">
              <div class="col-lg-12 col-md-12 ">
                <p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                    <path 
                      fill="#0CC8CB" 
                      fill-rule="evenodd" 
                      d="M13 0L9.9 7.86c1.61 1.114 2.325 2.909 2.325 4.827C12.225 16.401 9.66 19 6.083 19 2.863 19 0 16.834 0 12.75c0-1.92.656-3.528 1.61-4.952L6.798 0H13zm13 0l-3.1 7.86c1.61 1.114 2.325 2.909 2.325 4.827 0 3.714-2.564 6.313-6.142 6.313C15.863 19 13 16.834 13 12.75c0-1.92.656-3.528 1.61-4.952L19.798 0H26z"
                    />
                  </svg>
                  I am writing to encourage Nebraska schools to seriously consider transitioning to a magazine format through aPrintis, 
                  a company the two Papillion-La Vista high schools have been using for the last 8 years. When first approached with this idea, 
                  <strong>I thought it sounded "too good to be true"</strong>, honestly. But, being a new advisor who didn't feel any particular attachment to the 
                  format Papillion South had used in the past, I gave it a shot.
                  <br><br>
                  The price ($850 for 1,000 copies of a 16-page full-color, glossy magazine) was similar to what we were paying for sloppy newsprint 
                  that most students didn't want to touch.
                  <br><br>
                  <strong>The effect was truly electrifying. The professional look made students take the publication more seriously -- readers and creators alike. 
                  These publications are true keepsakes, unlike ever-changing websites</strong> and newsprint that turns yellow and brittle within months if not carefully preserved. 
                  I'm not one for making sales pitches, but I love journalism, and I see this format as a viable competitor in our students' flashy, media-saturated worlds. 
                  <br><br>
                  We LOVE aPrintis’s recent feature of doing fund raising through subscriptions, donations and advertising and foresee it being a big boost to our program. 
                  We are already bumping up our page count to 24 for the December issue and are considering <strong>a move to 32 pages next semester, which amazingly costs only a quarter for double the pages!.</strong>
                  <br><br>
                  I can send you a few copies of the magazines Papillion South published this year, just so you can get a feel for the quality and envision the possibilities 
                  for your own school. Something to think about as you plan for next year....
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                    <path 
                      fill="#0CC8CB" 
                      fill-rule="evenodd" 
                      d="M13 19l3.1-7.86c-1.61-1.114-2.325-2.909-2.325-4.827C13.775 2.599 16.34 0 19.917 0 23.137 0 26 2.166 26 6.25c0 1.92-.656 3.529-1.61 4.952L19.202 19H13zM0 19l3.1-7.86C1.49 10.026.776 8.231.776 6.313.775 2.599 3.34 0 6.917 0 10.137 0 13 2.166 13 6.25c0 1.92-.656 3.529-1.61 4.952L6.202 19H0z"
                    />
                  </svg>
                </p>
                <p>
                  Anne Albracht<br>
                  <em>Journalism Teacher,Yearbook and Magazine Adviser</em><br>
                  <em>Adviser, Titan Legacy Magazine</em><br>
                  Papillion-La Vista South High School<br>
                  Papillion, NE
                </p>
                <hr>
                <p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                    <path 
                      fill="#0CC8CB" 
                      fill-rule="evenodd" 
                      d="M13 0L9.9 7.86c1.61 1.114 2.325 2.909 2.325 4.827C12.225 16.401 9.66 19 6.083 19 2.863 19 0 16.834 0 12.75c0-1.92.656-3.528 1.61-4.952L6.798 0H13zm13 0l-3.1 7.86c1.61 1.114 2.325 2.909 2.325 4.827 0 3.714-2.564 6.313-6.142 6.313C15.863 19 13 16.834 13 12.75c0-1.92.656-3.528 1.61-4.952L19.798 0H26z"
                    />
                  </svg>
                  <strong>Using aPrintis to manage our printing and subscriber lists has really streamlined our processes.</strong> 
                  As an editor, I love that I can give our staff the resources necessary to better our team through subscriptions, donations and advertising. 
                  Through aPrintis, I can see the status of the last issue we sent to press, interactive PDFs and even the funds our publication has available 
                  through subscriptions, donations and advertisers. Being able to export pages to aPrintis straight from Adobe Indesign links the final pieces 
                  together and eliminates unnecessary steps to convert and transfer pages.
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                    <path 
                      fill="#0CC8CB" 
                      fill-rule="evenodd" 
                      d="M13 19l3.1-7.86c-1.61-1.114-2.325-2.909-2.325-4.827C13.775 2.599 16.34 0 19.917 0 23.137 0 26 2.166 26 6.25c0 1.92-.656 3.529-1.61 4.952L19.202 19H13zM0 19l3.1-7.86C1.49 10.026.776 8.231.776 6.313.775 2.599 3.34 0 6.917 0 10.137 0 13 2.166 13 6.25c0 1.92-.656 3.529-1.61 4.952L6.202 19H0z"
                    />
                  </svg>
                </p>
                <p>
                  Kaia Sullivan<br>
                  <em>11th-grader and co-editor in chief of Titan Legacy</em><br>
                  Papillion La Vista South High School<br>
                  Papillion, NE
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="video">
        <div class="video-player {{videoData.showVideo ? 'show' : ''}}">
          <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
          </div>
          <iframe #videoYoutube src="" frameborder='0' allowfullscreen allowTransparency="true" background="transparent"></iframe>
        </div>
        <div class="video-poster {{!videoData.showVideo ? 'show' : ''}}">
          <img src="https://img.youtube.com/vi/{{videoData.youtubeId}}/maxresdefault.jpg" loading="lazy">
          <div class="video-text">
            <div class="btn-play" (click)="playVideo()">
              <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" viewBox="0 0 137 137">
                <g fill="#FF0000" fill-rule="nonzero">
                    <path d="M68.5 6.85c33.994 0 61.65 27.656 61.65 61.65s-27.656 61.65-61.65 61.65S6.85 102.494 6.85 68.5 34.506 6.85 68.5 6.85zm0-6.85C30.672 0 0 30.67 0 68.5S30.672 137 68.5 137 137 106.33 137 68.5 106.328 0 68.5 0z"/>
                    <path d="M95.34 62.036L59.308 37.93C53.088 33.77 48 36.56 48 44.128V94.86c0 7.567 5.096 10.367 11.326 6.223l35.999-23.948c6.227-4.148 6.234-10.94.015-15.099zm-4.802 10.04L58.54 93.364c-2.075 1.382-3.774.45-3.774-2.073V47.696c0-2.523 1.696-3.451 3.77-2.064l32.008 21.412c2.073 1.385 2.07 3.65-.007 5.033z"/>
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="video-comment">
          <div class="text">
            Hear from Palo Alto High School students about how they publish 6 different themed <span>magazines 
            with a few students on each editorial staff, how affordable it is</span> and the impact it has on their community
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 design-section">
        <div class="section-title">
          <h1>Joint Conference of Restoration Branches - LDS Church</h1>
        </div>
        <div class="section-content">
          <div class="section-text">
            <div class="row">
              <div class="col-lg-12 col-md-12 ">
                <p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                    <path 
                      fill="#0CC8CB" 
                      fill-rule="evenodd" 
                      d="M13 0L9.9 7.86c1.61 1.114 2.325 2.909 2.325 4.827C12.225 16.401 9.66 19 6.083 19 2.863 19 0 16.834 0 12.75c0-1.92.656-3.528 1.61-4.952L6.798 0H13zm13 0l-3.1 7.86c1.61 1.114 2.325 2.909 2.325 4.827 0 3.714-2.564 6.313-6.142 6.313C15.863 19 13 16.834 13 12.75c0-1.92.656-3.528 1.61-4.952L19.798 0H26z"
                    />
                  </svg>
                  We have been publishing The Latter Day Saints’ Beacon, the official magazine of the Joint Conference of Restoration Branches, with aPrintis since 2015. 
                  We feature articles from the entire community and our issues are mailed internationally to 10+ countries.
                  <br><br>
                  Formerly, <strong>we printed the magazine using our in-house printer, however after hearing about aPrintis and seeing the product they produce, 
                  it was a no-brainer to switch over</strong> to them. The quality of print is impeccable and the price unbeatable. 
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                    <path 
                      fill="#0CC8CB" 
                      fill-rule="evenodd" 
                      d="M13 19l3.1-7.86c-1.61-1.114-2.325-2.909-2.325-4.827C13.775 2.599 16.34 0 19.917 0 23.137 0 26 2.166 26 6.25c0 1.92-.656 3.529-1.61 4.952L19.202 19H13zM0 19l3.1-7.86C1.49 10.026.776 8.231.776 6.313.775 2.599 3.34 0 6.917 0 10.137 0 13 2.166 13 6.25c0 1.92-.656 3.529-1.61 4.952L6.202 19H0z"
                    />
                  </svg>
                </p>
                <p>
                  Gary Whiting<br>
                  Apostle, Joint Conference of Restoration Branches<br>
                  Church of Latter Day Saints<br>
                  Independence, MO
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 design-section back-grey">
        <div class="section-title">
          <h1>Northview High, Duluth, GA Adviser to fellow advisers following an NSPA Workshop</h1>
        </div>
        <div class="section-content">
          <div class="section-text">
            <div class="row">
              <div class="col-lg-12 col-md-12 ">
                <p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                    <path 
                      fill="#0CC8CB" 
                      fill-rule="evenodd" 
                      d="M13 0L9.9 7.86c1.61 1.114 2.325 2.909 2.325 4.827C12.225 16.401 9.66 19 6.083 19 2.863 19 0 16.834 0 12.75c0-1.92.656-3.528 1.61-4.952L6.798 0H13zm13 0l-3.1 7.86c1.61 1.114 2.325 2.909 2.325 4.827 0 3.714-2.564 6.313-6.142 6.313C15.863 19 13 16.834 13 12.75c0-1.92.656-3.528 1.61-4.952L19.798 0H26z"
                    />
                  </svg>
                  Thank you for attending my session this year on juggling a new staff. For the advisers that had questions about printing here is some info that might help you. 
                  <br><br>
                  We switched over to aPrintis in 2014, and we couldn’t be happier. They are great to work with and they have allowed us to really grow as a publication. 
                  We do 32-pages full-color and we get 1,000 copies printed each issue. The cost is $1175 and that includes shipping to the school. 
                  We were able to get 1,000 issues of 32-pages full color for the same price we were doing 750 issues of 24-pages half color.
                  <br><br>
                  Their quality is unmatched and the staff really works hard to help publications make a quality product. 
                  <strong>They are by far the cheapest magazine printer I found. I shopped it around a bunch, and I can’t say enough good things about them.</strong> 
                  <br><br>
                  We fund our magazine through ad sales and issue sales. It has enabled our staff to do more creative designs with the increased space and color. 
                  <strong>Switching to the news magazine was the best creative decision we could have made.</strong>
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                    <path 
                      fill="#0CC8CB" 
                      fill-rule="evenodd" 
                      d="M13 19l3.1-7.86c-1.61-1.114-2.325-2.909-2.325-4.827C13.775 2.599 16.34 0 19.917 0 23.137 0 26 2.166 26 6.25c0 1.92-.656 3.529-1.61 4.952L19.202 19H13zM0 19l3.1-7.86C1.49 10.026.776 8.231.776 6.313.775 2.599 3.34 0 6.917 0 10.137 0 13 2.166 13 6.25c0 1.92-.656 3.529-1.61 4.952L6.202 19H0z"
                    />
                  </svg>
                </p>
                <p>
                  Chris Yarbrough, Ed. S.<br>
                  Journalism Adviser<br>
                  Northview High School<br>
                  Duluth, GA
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 design-section">
        <div class="section-title">
          <h1>Downs Syndrome Association of America  - Atlanta Chapter</h1>
        </div>
        <div class="section-content">
          <div class="section-text">
            <div class="row">
              <div class="col-lg-12 col-md-12 ">
                <p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                    <path 
                      fill="#0CC8CB" 
                      fill-rule="evenodd" 
                      d="M13 0L9.9 7.86c1.61 1.114 2.325 2.909 2.325 4.827C12.225 16.401 9.66 19 6.083 19 2.863 19 0 16.834 0 12.75c0-1.92.656-3.528 1.61-4.952L6.798 0H13zm13 0l-3.1 7.86c1.61 1.114 2.325 2.909 2.325 4.827 0 3.714-2.564 6.313-6.142 6.313C15.863 19 13 16.834 13 12.75c0-1.92.656-3.528 1.61-4.952L19.798 0H26z"
                    />
                  </svg>
                  Thanks for helping produce newsletters that truly represent our community. 
                  <strong>It’s a matter of great pride for our community members to receive the newsletters in the mail and see articles that feature them or their peers.</strong> 
                  You can feel the anticipation because we start getting asked about the ETA for the next issue when it’s been over a month since our last publication 
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                    <path 
                      fill="#0CC8CB" 
                      fill-rule="evenodd" 
                      d="M13 19l3.1-7.86c-1.61-1.114-2.325-2.909-2.325-4.827C13.775 2.599 16.34 0 19.917 0 23.137 0 26 2.166 26 6.25c0 1.92-.656 3.529-1.61 4.952L19.202 19H13zM0 19l3.1-7.86C1.49 10.026.776 8.231.776 6.313.775 2.599 3.34 0 6.917 0 10.137 0 13 2.166 13 6.25c0 1.92-.656 3.529-1.61 4.952L6.202 19H0z"
                    />
                  </svg>
                </p>
                <p>
                  Stephanie Donlan<br>
                  Executive Director<br>
                  Downs Syndrome Association of America  - Atlanta Chapter<br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 design-section back-grey">
        <div class="section-title">
          <h1>Agewell Fresno Senior Services</h1>
        </div>
        <div class="section-content">
          <div class="section-text">
            <div class="row">
              <div class="col-lg-12 col-md-12 ">
                <p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                    <path 
                      fill="#0CC8CB" 
                      fill-rule="evenodd" 
                      d="M13 0L9.9 7.86c1.61 1.114 2.325 2.909 2.325 4.827C12.225 16.401 9.66 19 6.083 19 2.863 19 0 16.834 0 12.75c0-1.92.656-3.528 1.61-4.952L6.798 0H13zm13 0l-3.1 7.86c1.61 1.114 2.325 2.909 2.325 4.827 0 3.714-2.564 6.313-6.142 6.313C15.863 19 13 16.834 13 12.75c0-1.92.656-3.528 1.61-4.952L19.798 0H26z"
                    />
                  </svg>
                  The magazines were very well received. Excellent print quality.
                  <strong>Really makes the effort worthwhile for our senior community</strong>
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                    <path 
                      fill="#0CC8CB" 
                      fill-rule="evenodd" 
                      d="M13 19l3.1-7.86c-1.61-1.114-2.325-2.909-2.325-4.827C13.775 2.599 16.34 0 19.917 0 23.137 0 26 2.166 26 6.25c0 1.92-.656 3.529-1.61 4.952L19.202 19H13zM0 19l3.1-7.86C1.49 10.026.776 8.231.776 6.313.775 2.599 3.34 0 6.917 0 10.137 0 13 2.166 13 6.25c0 1.92-.656 3.529-1.61 4.952L6.202 19H0z"
                    />
                  </svg>
                </p>
                <p>
                  Helen Miltiades<br>
                  Director of Communications<br>
                  Agewell Fresno Senior Services<br>
                  Fresno, CA
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="photo-section">
        <div class="comment">
          <div class="text">
              <h2>School Magazines are Hot!</h2>
              Shark Tank's <span>Daymond John</span> agrees
          </div>
        </div>
        <div class="video-poster">
          <img src="{{assetsUrl}}/2-wide.png" loading="lazy">
        </div>
      </div>
      <div class="comments">
        <div class="section-title">
          More Customer Experiences with aPrintis
        </div>
        <ng-masonry-grid class="comments-grid-container"
          [masonryOptions]="{gutter: 20, resize: true, initLayout: true}"
          [useAnimation]="false"
          [useImagesLoaded]="false"
          [scrollAnimationOptions]="{ animationEffect: 'effect-2', minDuration : 0, maxDuration : 0 }">
          <ng-masonry-grid-item id="{{'masonry-item-'+i}}" *ngFor="let card of cards; let i = index;">
            <mat-card class="card" [ngStyle]="setCardPadding(card.padding)">
              <mat-card-header>
                <mat-card-title class="card-title">{{card.fullname}}</mat-card-title>
                <mat-card-subtitle class="card-subtitle">{{card.organization}}, {{card.location}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="card-content">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                    <path 
                      fill="#0CC8CB" 
                      fill-rule="evenodd" 
                      d="M13 0L9.9 7.86c1.61 1.114 2.325 2.909 2.325 4.827C12.225 16.401 9.66 19 6.083 19 2.863 19 0 16.834 0 12.75c0-1.92.656-3.528 1.61-4.952L6.798 0H13zm13 0l-3.1 7.86c1.61 1.114 2.325 2.909 2.325 4.827 0 3.714-2.564 6.313-6.142 6.313C15.863 19 13 16.834 13 12.75c0-1.92.656-3.528 1.61-4.952L19.798 0H26z"
                    />
                  </svg>
                  <!-- {{card.comment | truncateText:280:400}} -->
                  <div [innerHTML]="card.commentTemplate"></div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                    <path 
                      fill="#0CC8CB" 
                      fill-rule="evenodd" 
                      d="M13 19l3.1-7.86c-1.61-1.114-2.325-2.909-2.325-4.827C13.775 2.599 16.34 0 19.917 0 23.137 0 26 2.166 26 6.25c0 1.92-.656 3.529-1.61 4.952L19.202 19H13zM0 19l3.1-7.86C1.49 10.026.776 8.231.776 6.313.775 2.599 3.34 0 6.917 0 10.137 0 13 2.166 13 6.25c0 1.92-.656 3.529-1.61 4.952L6.202 19H0z"
                    />
                  </svg>
                </div>
                <!-- <div *ngIf="card.comment.length > 300" class="card-show-more">
                  <br><span>Click to show more ...</span>
                </div> -->
              </mat-card-content>
            </mat-card>
          </ng-masonry-grid-item>
        </ng-masonry-grid>
        <!--
        <div class="load-more"><button mat-button (click)="getReviews()">Load More</button></div>
        -->
      </div>
    </div>
  </main>
  <app-page-footer></app-page-footer>
</div>
