
<div class="main-wrapper">
  <app-landing-header></app-landing-header>
  <app-intercom></app-intercom>
    <main role="main" class="main-referral simple-page-form">
      <div class="dash-main-content dash-referrals">
        <div class="dash-content-default">
          <div class="row justify-content-center">
            <h3 class="dash-title w-sub">
              Refer aPrintis to a Publisher
            </h3>
            <div class="col-lg-10">
              <div class="pricings-table">
                <div class="row">
                  <div class="col-lg-11 header">
                    Make $10 from <span>EVERY FUTURE</span> job that they print and <span>SAVE THEM 100s of dollars</span>
                  </div>
                </div>
                <hr class="row divider"/>
                <div class="row">
                  <div class="col-lg-5 margin-zero">
                    <div class="ul-header">Why refer aPrintis to Publishers?</div>
                    <div class="ul-desc">If you publish with us - you already know why!</div>
                    <ul>
                      <li>Savings of as much as 50% on print costs</li>
                      <li>3 easy ways of fund raising</li>
                      <li>High octane community interest via collaboration and promotion</li>
                    </ul>
                  </div>
                  <div class="col-lg-6 grid-wrapper">
                    <div class="ul-desc align-center">How much you earn as the referrer on average <span>every year</span></div>
                    <div class="image"><img src="{{assetsUrl}}/img2.png" alt="Table" loading="lazy"></div>
                    <div class="ul-desc footer">*Jobs printed with aPrintis</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 button-div">
              <button (click)="makeReferral()" class="no-focus button-turq-default btn-save mat-button" mat-button>Refer aPrintis to a Publisher</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  <app-page-footer></app-page-footer>
</div>