<app-onboarding-header appStickybits></app-onboarding-header>
<main role="main">
  <div class="search-publication-container">
    <div class="search-publication-header-container">
      <div class="search-publication-go-back">
        <button routerLink="/{{url}}" mat-button>
          <mat-icon>arrow_back</mat-icon>
          Go Back
        </button>
      </div>
      <div class="search-publication-header-title">
        <div class="register-over-title-text">
          Ready to be {{connector}} <span>{{roleStr}}</span>?
        </div>
        <div class="register-title">
          <h1>Search for a publication</h1>
        </div>
      </div>
    </div>
    <app-search-publication continueText="Request Access" [role]="role"
      (selectedPublicationEvent)="onPublicationSelect($event)" (continueEvent)="onContinue()"></app-search-publication>
  </div>
</main>
